/* 
rem and em do NOT depend on html font-size in media queries!
*/


/****************************/
/* BELOW 1344px (Smaller desktops) */
/****************************/

@media (max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

}

/****************************/
/* BELOW 1200px (Landscape Tablets) */
/****************************/

@media (max-width: 75rem) {
    html {
        font-size: 56.25%;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }
}

/****************************/
/* BELOW 940px (Landscape Tablets) */
/****************************/

@media( max-width: 59rem ) { 
    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .close-icon {
        display: none;
    }

    .hero-img {
        width: 60%;
    }

    .delivered-meals {
        justify-content: center;
        margin-top: 3.2rem;
    }

    .hero-text-box,
    .hero-image-box {
        text-align: center;
    }

    .featured-logo {
        height: 2.6rem;
    }

    .step-number {
        font-size: 5.2rem;
    }

    .meal-description {
        padding: 2.4rem 3.2rem 3.2rem;
    }

    .meal-title {
        font-size: 2.0rem;
    }

    .meal-attributes {
        gap: 1.2rem;
    }

    .section-testimonials {
        grid-template-columns: 1fr !important;
    }

    .testimonial-container {
        padding: 9.6rem 3.2rem;
    }

    .testimonials {
        row-gap: 3rem !important;
        column-gap: 4.4rem !important;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .cta {
        grid-template-columns: 3fr 2fr;
    }

    form {
        grid-template-columns: 1fr !important;
    }

    .cta-image-box {
        background-position: center;
    }

    .btn--form {
        margin-top: 1.6rem;
    }

    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display: block;
        background-color: transparent;
        z-index: 1;
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.916);
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        z-index: 1;

        /* 
        Hide navigation 
        Allows NO transitions at all
        display: none
        */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 4.4rem;
    }

}

/****************************/
/* BELOW 700px (Tablets) */
/****************************/

@media( max-width: 44rem ) {
    html {
        font-size: 45%;
    }

    .featured-logo {
        height: 1.8rem;
    }

    .step-description {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .section-meals .container {
        grid-template-columns: 1fr 1fr; 
    }

    .diet-card {
        grid-column: 1/-1;
        justify-self: center;
    }

    .section-price {
        padding: 0;
    }

    .pricing-plan {
        width: 100%;
    }

    .section-price .container:last-child {
        grid-template-columns: 1fr 1fr;
    }

    .feature-icon {
        font-size: 4rem;
    }

    .feature-title {
        font-size: 2.8rem;
    }
    
    .feature-text {
        font-size: 2.0rem;
    }

    .footer .container {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 4.8rem;
        column-gap: 2.4rem;
    }

    .footer-logo {
        width: 60%;
    }

    .footer-heading {
        font-size: 2rem;
    }

    .social-links {
        margin-bottom: 3.6rem;
    }

    .logo-col {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .address-col {
        grid-column: 4/-1;
        grid-row: 2/3;
    }

    .account {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .company {
        grid-column: 3/5;
        justify-self: center;
        grid-row: 1/2;
    }

    .resources {
        grid-column: 5/-1;
        justify-self: center;
        grid-row: 1/2;
    }

}

/****************************/
/* BELOW 500px (Phone) */
/****************************/

@media( max-width: 31rem) {
    .featured-logo {
        height: 1rem;
    }

    .section-meals .container {
        grid-template-columns: 1fr; 
    }

    .testimonials {
        grid-template-columns: 1fr !important;
        row-gap: 3rem !important;
        column-gap: 2.4rem !important;
    }

    .testimonial {
        height: 25rem;
    }

    .section-price .container:last-child {
        grid-template-columns: 1fr;
    }

    .section-price .container {
        grid-template-columns: 1fr;
    }

    .cta {
        grid-template-columns: 1fr;
    }

    .cta-text-box {
        grid-row: 2/3;
    }
    
    .cta-image-box {
        height: 40rem;
        grid-row: 1/2;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 0;
    }

    .btn--form {
        padding: 2.4rem;
    }

    .footer .container {
        row-gap: 6.4rem !important;
    }

    .section-hero .btn:link,
    .section-hero .btn:visited {
        display: inline-block;
        padding: 1.6rem 1.2rem;
        font-size: 1.9rem;
    }
}




/* FONT SIZE

10 / 12/ 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/
