/**************************/
/* HEADER */
/**************************/
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;

    height: 9.6rem;
    padding: 0 4.8rem;

    z-index: 0;
}

.logo {
    height: 2.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link, 
.main-nav-link:visited {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s;
}

.main-nav-link:hover, 
.main-nav-link:active {
   color: #cf711f; 
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
    color: white;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    background-color: #cf711f;
}

/* MOBILE */

.btn-mobile-nav {
    border: none;
    background-color: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    width: 4.8rem;
    height: 4.8rem;
    color: #333;
}  

.icon-mobile-nav[name="menu-outline"] {
    display: block;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

 
/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.delivered-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;

    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin-right: 0;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color:#cf711f;
    font-weight: 700;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/
.section-featured {
    padding: 4.8rem 3.2rem;
}

.heading-featured-in {
   font-size: 1.4rem;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-weight: 500;
   text-align: center;
   margin-bottom: 2.4rem;
   color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featured-logo {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

/**************************/
/* HOW SECTION */
/**************************/

.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step-img-box::before {
    content: "";
    display: block;
    width: 60%;

    /* 60% of the parent's width */
    padding-bottom: 60%;
    background-color: #fdf2e9;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.step-img-box::after {
    content: "";
    display: block;
    width: 45%;

    /* 60% of the parent's width */
    padding-bottom: 45%;
    background-color: #fde2cd;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.step-img {
    width: 35%;
    z-index: 2;
}

/**************************/
/* SECTION MEALS*/
/**************************/
.section-meals {
    padding: 9.6rem 0;
}

.meal {
    border-radius: 12px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.071);
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-5%);
}

.meal:last-child {
    box-shadow: none;
}

.meal-img {
    width: 100%;
    object-fit: contain;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.meal-tag {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    padding: 0.4rem 0.8rem;
    border-radius: 12px;
    margin-bottom: 1.6rem;
}

.green {
    background-color: rgb(81, 207, 102);
}

.light-green {
    background-color: rgb(148, 216, 45);
}

.yellow {
    background-color: rgb(255, 212, 59);
}
.meal-description {
    padding: 3.2rem 4.8rem 4.8rem;
}

.meal-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: rgb(51, 51, 51);
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section-meals h2, span {
    text-align: center;
}

.diet-card {
    display: block;
}

.check-icon {
    color: #cf711f;
    width: 2.4rem;
    height: 2.4rem;
}

.all-recipes {
    text-align: center;
    font-size: large;
}

.link:visited,
.link:link {
    color:#cf711f;
    text-decoration: none;
    border-bottom: 1px solid #cf711f;
    display: inline-block;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.link:hover, 
.link:active {
    border-bottom: none;
}

/**************************/
/* SECTION TESTIMONIAL AND GALLERY*/
/**************************/
.section-testimonials {
    grid-template-columns: 55fr 45fr !important;
    gap: 0 !important;
    background-color: #fdf2e9;
    align-items: center;
}

.testimonial-container {
    padding: 9.6rem;
}

.testimonials {
    row-gap: 4.8rem !important;
    column-gap: 8rem !important;
}

.testimonial-img {
    height: 25%;
    border-radius: 50%;
    border: 1px solid #cf711f;
    margin-bottom: 1.2rem;

}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-author {
    font-size: 1.6rem;
}

.text-left {
    text-align: left !important;
}

.gallery {
    gap: 1.5rem !important;
}

.gallery-item {
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    transition: all 0.4s;
}

.gallery-img:hover {
    transform: scale(1.1);
}

/**************************/
/* SECTION TESTIMONIAL AND GALLERY*/
/**************************/
.section-price {
    padding: 9.6rem;
}

.section-price .container:last-child {
    margin-bottom: 9.6rem !important;
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 75%;

    border: 2px solid #fdf2e9;
    border-radius: 12px;
    padding: 4.6rem;

    transition: all 0.4s;
}

.pricing-plan:hover {
    transform: translateY(-2rem);
}

.pricing-plan--starter {
    justify-self: end;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.pricing-plan--complete::before {
    content: "BEST VALUE";
    position: absolute;
    z-index: 1.0;
    color: #333;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    top: 3.5rem;
    right: -7rem;
    transform: translate(50%, 50%);
    transform: rotateZ(45deg);
}

.plan-header {
    margin-bottom: 4.8rem;
    text-align: center;
}

.plan-header span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.2rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
    margin-bottom: 1.6rem;
}

.plan-name {
    font-size: 2rem;
    font-weight: 600;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.plan-details {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
}

/**************************/
/* SECTION CTA */
/**************************/
.section-cta {
    padding: 4.8rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;

    border-radius: 12px;
}

.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem;
}

.cta-image-box {
    background-image: linear-gradient(to right bottom, 
    rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), 
    url('/img/eating.jpg');
    background-size: cover;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3.6rem;
}

.cta .heading-secondary {
    margin-bottom: 3.2rem;
}

form {
    row-gap: 2.4rem !important;
    column-gap: 3.2rem !important;
    font-family: inherit;
}

.cta-input-label {
    display: block;
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
    line-height: 1.6;
    font-family: inherit;
}

input, select {
    display: block;
    padding: 1rem 2rem;
    border-radius: 12px;
    border: none;
    font-size: 1.8rem;
    width: 100%;
    padding: 1.2rem;
    font-family: inherit;
}

.cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER */
/**************************/
.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #55555518;
}

.grid--footer {
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
}

.footer-logo {
    width: 100%;
    margin-bottom: 2.6rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}

.social-icon {
    height: 2.4rem;
    width: 2.4rem;
}

.address-col {
    font-size: 1.6rem;
    line-height: 1.6;
}

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
}

.footer-address {
    margin-bottom: 1.6rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #767676;
}

.footer-link:hover,
.footer-link:active {
    color: #555;
}

